mat-card{
     width: auto;
     height: 600px;
     overflow:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;  
    // vertical-align:middle;
    text-align:center;
}

.full-width{
     width:80%;
}
img{
    width:24px;
    height:24px;
    margin-left:20px;
}
h4{
    margin-left:0
}